@import "_variables.scss";

.my-container{
    width: 65%;
    margin: 0 auto;
}

.my-full-height{
    height: 100%;
}

.my-bg-opacity-green{
    background-color: $my-color-surfie-green-opacity;
    border-radius: 0.25rem;
}

.my-text-green{
    color: $my-color-blue-lagoon;
}

.my-bg-green{
    background-color: $my-color-blue-lagoon;
}

.my-title-span-green{
    color: $my-color-blue-lagoon;
    font-size: 12px;
    font-weight: 900;
}

.my-icon-green{
    color: $my-color-blue-lagoon;
    background-color: $my-color-gray-nurse;
    border-radius: 50%;
    padding: 12px 10px;
}

.my-opacity-container{
    background-color: rgba(0, 0, 0, 0.6);
}

.my-bg-grey{
    background-color:  $my-color-gray-nurse;
    border-radius: 0.25rem;
}