@import "_variables.scss";

.my-container{
    width: 65%;
    margin: 0 auto;
}

.my-height-90vh{
    height: 90vh;
}

.my-full-height{
    height: 100%;
}

.my-bg-opacity-green{
    background-color: $my-color-surfie-green-opacity;
    border-radius: 0.25rem;
}

.my-button-bg-green{
    background-color: $my-color-blue-lagoon;
}