
$my-color-woodsmoke:#121117;
$my-color-scarpa-flow:#4e4d51;
$my-color-blue-lagoon: #038483;
$my-color-edward: #a2adae;
$my-color-driftwood: #b0864f;
$my-color-golden-tainoi: #fecc60;
$my-color-anakiwa: #038483;
$my-color-pelorous: #038483;
$my-color-gray-nurse: #e3e7df;
$my-color-shark: #1e2223;
$my-color-flint: #706c68;
$my-color-sea-nymph: #72a2a3;
$my-color-slate-gray: #778a94;
$my-color-cape-palliser: #9c6f46;
$my-color-zorba: #a79d8e;
$my-color-surfie-green: #0d7e7e;
$my-color-surfie-green-opacity: rgba(13,126,126, 0.3);
$my-color-ebony-clay: #24333d;
$my-color-gold-sand: #e5be92;




